@model BookManagementSystem_BMS.ViewModels.BookViewModel
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div id="loginModal" class="modal" >
        <div class="modal-dialog modal-dialog-centered modal-dialog-half" role="document" tabindex="-1">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="loginForm">
                        <form id="loginFormContent" action="@Url.Action("Login", "User")" method="get">
                            <div class="form-group">
                                <label for="username">Email</label>
                                <input type="email" class="form-control" id="username" name="username" placeholder="Enter Email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                            </div>
                            <div class="form-group">
                                <label for="rememberMe">Remember Me</label>
                                <input type="checkbox" id="rememberMe" name="rememberMe">
                            </div>
                            <button id="loginSubmitBtn" type="submit" class="btn btn-primary">Login</button>
                            <button id="signupButton" type="button" class="btn btn-primary flex">Sign Up</button>
                        </form>
                    </div>
                    <div id="signupForm" style="display: none;">
                        <button id="backButton" class="btn btn-primary">Back to Login</button>
                        <form id="signupFormContent" action="@Url.Action("Signup", "User")" method="post" onSubmitHandle()>
                            <div class="form-group">
                                <label for="signupUsername">Full Name</label>
                                <input type="text" class="form-control" id="signupUsername" name="signupUsername" placeholder="Enter Full Name" onkeydown="return /[a-z]/i.test(event.key)" required>
                            </div>
                            <div class="form-group">
                                <label for="signupEmail">Email</label>
                                <input type="email" class="form-control" id="signupEmail" name="signupEmail" placeholder="Enter email" required>
                            </div>
                            @*<div class="form-group">
                                <label for="userRole">Role</label>
                                <input type="text" class="form-control" id="userRole" name="userRole" placeholder="Enter Role" onkeydown="return /[a-z]/i.test(event.key)" required>
                            </div>*@
                            <div class="form-group">
                                <label for="selectedRole">Select Role:</label>
                                @Html.DropDownListFor(model => model.SelectedRoleId, new SelectList(Model.Roles,
                                "RoleID", "RoleName"), "-- Select a Role --", new { id = "roleId",
                                @class = "form-control",})
                                <span id="roleError"></span>
                            </div>
                            <div class="form-group">
                                <label for="signupPassword">Password</label>
                                <input type="password" class="form-control" id="signupPassword" name="signupPassword" placeholder="Enter password" required>
                                
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
                                <span id="passwordError"></span>
                            </div>
                            <button id="signupSubmitBtn" type="submit" class="btn btn-primary">SignUp</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</body>
</html>
